body {
  font-family: sans-serif;
  background-color: #e0f7fa;
  margin: 20px;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.description {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
  line-height: 1.5;
}

.accordion {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  width: 80%;
  max-width: 500px;
  margin: 10px auto;
}

.accordion-btn {
  background-color: #a5d8ff;
  color: #333;
  padding: 12px 15px;
  border: none;
  width: 100%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.accordion-btn:hover {
  background-color: #7cbaff;
}

.accordion.is-open .accordion-btn {
  background-color: #e3fafc;
  border-bottom: 1px solid #ccc;
}

.accordion-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out;
  padding: 0 15px;
  background-color: #f7f7f7;
}

.accordion.is-open .accordion-content {
  padding: 15px;
}

.content-text {
  text-align: center;
  margin-bottom: 0;
  flex: 1;
  min-width: 200px;
}

.content-image-container {
  text-align: right;
  padding-bottom: 0;
  max-width: 100px;
  height: auto;
  flex-shrink: 0;
  border-radius: 5px;
}

.content-image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
